@using InventarioUX.Controllers
@{
    ViewBag.Title = "Carrito";
}

<div>
    @Html.Partial("SelectProducto")
</div>

<h1>              </h1>
<h1>              </h1>

<table class="table">
    @using (Html.BeginForm("Update", "CarritoSalida", FormMethod.Post))
    {
        <input type="submit" class="btn btn-default" value="Actualizar cantidades" />
        <tr>
            <th>Eliminar</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Existencias</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th>        </th>
        </tr>
        if (Session["cart"] != null)
        {
            foreach (Item item in (List<Item>)Session["cart"])
            {
                <tr>
                    <th><button class="btn btn-default">@Html.ActionLink("Eliminar", "Eliminar", "CarritoSalida", new { id = item.Producto.ID })</button></th>
                    <th>@item.Producto.NOMBRE</th>
                    <th>@item.Producto.PRECIO</th>
                    <th>@item.Producto.CANTIDAD</th>
                    <th><input type="text" name="Cantidad" , value="@item.Cantidad" /></th>
                    <th>@(item.Producto.PRECIO * item.Cantidad)</th>
                </tr>
            }
        }
        else
        {
            <tr>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
        }
    }
</table>

<button class="btn btn-default">@Html.ActionLink("Generar Salida", "Existencias", "CarritoSalida", new { data_toggle = "modal", data_target = "#modalS" })</button>
<button class="btn btn-default">@Html.ActionLink("Cancelar Movimiento", "Index", "Account")</button>

<script src="~/Scripts/sweetalert2.js"></script>
<script src="~/Scripts/sweetalert2.min.js"></script>
<link href="~/Scripts/sweetalert2.css" rel="stylesheet" />
@if (ViewBag.Error == true)
{
    <script>
        window.onload = function () {
            swal(
                '¡El codigo de barras no existe!',
                'Ingrese un codigo de barras valido',
                'error'
            )
        };
    </script>
}

@if (ViewBag.ErrorCantidad == true)
{
    <script>
        window.onload = function () {
            swal(
                '¡Algun producto no cuenta con suficientes existencias!',
                'Porfavor revise las existencias de los productos ingresados en el campo "Existencias"',
                'error'
            )
        };
    </script>
}
<div class="modal fade" id="modalS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm())
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Salidas</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("OrderSaved")
                </div>
                <div class="modal-footer">

                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

