@model IEnumerable<InventarioUX.Models.MOV_ENTRADA>

@{
    ViewBag.Title = "Index";
}

<div class="navbar navbar-default">
    <div class="nav navbar-var navbar-form">
        <ul class="navbar-right navbar-form">
            <li class="navbar-brand">Entradas de productos:</li>
            <li class="form-group"><div>@Html.ActionLink("Nueva Entrada", "CheckOut", new { area = "" }, new { @class = "btn btn-danger" })</div></li>
        </ul>
        <ul class="navbar-left navbar-form">
            <li class="navbar-brand">Registro de entradas:</li>
        </ul>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CONTAINING_EMPLEADOS.USERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTAINING_PROVEEDORES.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CONTAINING_EMPLEADOS.USERNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONTAINING_PROVEEDORES.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                @Html.ActionLink("Generar Recibo", "ExportPDF", new { id = item.ID })
            </td>
        </tr>
    }

</table>
