@using InventarioUX.Models
@model InventarioUX.Models.MOV_ENTRADA
@{
    Layout = "~/Views/Shared/_LayoutRecibos.cshtml";
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Empleado: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTAINING_EMPLEADOS.USERNAME)
        </dd>

        <dt>
            Proveedor: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTAINING_PROVEEDORES.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Subtotal</th>
        </tr>
    </thead>


    @foreach (MOV_ENTRADA_LISTA m in ViewBag.ListaEntrada)
    {
        <tbody>
            <tr>
                <th>@m.CONTAINING_PRODUCTOS.NOMBRE</th>
                <th>@m.CANTIDAD</th>
                <th>@m.PRECIO</th>
                <th>@(m.PRECIO * m.CANTIDAD)</th>
            </tr>
        </tbody>
    }

    <tfoot>
        <tr>
            <th>Total</th>
            <th colspan="2"></th>
            <th id="total" colspan="2">@Html.DisplayFor(model => model.PRECIOTOTAL)</th>
        </tr>
    </tfoot>

</table>

