@using InventarioUX.Models
@model InventarioUX.Models.MOV_ENTRADA
@{
    Layout = "~/Views/Shared/_LayoutRecibos.cshtml";
}

<div class="panel-default">
    <div class="panel-heading">
        <h4 class="panel-heading">RECIBO</h4>
        <ul class="dl-horizontal">
            <li>Usuario: @Html.DisplayFor(model => model.CONTAINING_EMPLEADOS.USERNAME)</li>
            <li>Nombre Proveedor:  @Html.DisplayFor(model => model.CONTAINING_PROVEEDORES.NOMBRE)</li>
            <li>Fecha de entrada: @Html.DisplayFor(model => model.Fecha)</li>

        </ul>
    </div>

    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Subtotal</th>
                </tr>
            </thead>


            @foreach (MOV_ENTRADA_LISTA m in ViewBag.ListaEntrada)
            {
                <tbody>
                    <tr>
                        <th>@m.CONTAINING_PRODUCTOS.NOMBRE</th>
                        <th>@m.CANTIDAD</th>
                        <th>@m.PRECIO</th>
                        <th>@(m.PRECIO * m.CANTIDAD)</th>
                    </tr>
                </tbody>
            }

            <tfoot>
                <tr>
                    <th>Total</th>
                    <th colspan="2"></th>
                    <th id="total" colspan="2">@Html.DisplayFor(model => model.PRECIOTOTAL)</th>
                </tr>
            </tfoot>

        </table>
    </div>
</div>

