@model IEnumerable<InventarioUX.Models.ASIGNACIONES>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CheckOut")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CONTAINING_DEPARTAMENTOS.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTAINING_EMPLEADOS.USERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CONTAINING_DEPARTAMENTOS.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONTAINING_EMPLEADOS.USERNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Generar Recibo", "ExportPDF", new { id = item.ID })
            </td>
        </tr>
    }

</table>
