<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Inicio", "Index", "Account", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Cerrar Sesion", "Logout", "Account", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    <footer class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            @if (Session["ID"] != null)
            {
                <h6 class="navbar-brand">Universidad de Xalpa UX &copy; @DateTime.Now.Year - Hola: @Session["USERNAME"].ToString() </h6>
            }
            else
            {
                <h4 class="navbar-brand">Universidad de Xalpa UX &copy; @DateTime.Now.Year  </h4>
            }
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

