@{
    ViewBag.Title = "Index";
}

<idv class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="thumbnail">
                <div class="caption">
                    <h4>Todos los productos</h4>
                    <hr />
                    <h1><span>@Html.ActionLink("ALMACEN", "SelectAlmacen", "ALMACENs", new { area = "" }, new { @class = "btn btn-danger btn-block panel-body" })</span></h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="thumbnail">
                <div class="caption">
                    <h4>Realizar registro de entrada</h4>
                    <hr />
                    <h1><span>@Html.ActionLink("ENTRADAS", "Index", "CarritoEntrada", new { area = "" }, new { @class = "btn btn-danger btn-block panel-body" })</span></h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="thumbnail">
                <div class="caption">
                    <h4>Realizar registro de salida</h4>
                    <hr/>
                    <h1><span>@Html.ActionLink("SALIDAS", "Index", "CarritoSalida", new { area = "" }, new { @class = "btn btn-danger btn-block panel-body" })</span></h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="thumbnail">
                <div class="caption">
                    <h4>Asignación a departamentos</h4>
                    <hr />
                    <h1><span>@Html.ActionLink("ASIGNACIÓN", "Index", "CarritoAsignacion", new { area = "" }, new { @class = "btn btn-danger btn-block panel-body" })</span></h1>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="thumbnail">
                <div class="caption">
                    <h4>Productos nuevos</h4>
                    <h1><span>@Html.ActionLink("PRODUCTOS", "Index", "PRODUCTOS", new { area = "" }, new { @class = "btn btn-danger btn-block panel-body" })</span></h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="thumbnail">
                <div class="caption">
                    <h4>Registro de proveedores</h4>
                    <h1><span>@Html.ActionLink("PROVEERDORES", "Index", "PROVEEDORES", new { area = "" }, new { @class = "btn btn-danger btn-block panel-body" })</span></h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="thumbnail">
                <div class="caption">
                    <h4>Usuarios</h4>
                    <h1><span>@Html.ActionLink("USUARIOS", "Index", "EMPLEADOS", new { area = "" }, new { @class = "btn btn-danger btn-block panel-body" })</span></h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="thumbnail">
                <div class="caption">
                    <h4>Gestion de empleados</h4>
                    <h1><span>@Html.ActionLink("EMPLEADOS", "Index", "TRABAJADORES", new { area = "" }, new { @class = "btn btn-danger btn-block panel-body" })</span></h1>
                </div>
            </div>
        </div>        
    </div>
    <hr/>

    <div class="row">
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="thumbnail">
                <div class="caption">
                    <h4>Gestion de departamentos</h4>
                    <h1><span>@Html.ActionLink("DEPARTAMENTOS", "Index", "DEPARTAMENTOS", new { area = "" }, new { @class = "btn btn-danger btn-block panel-body" })</span></h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="thumbnail">
                <div class="caption">
                    <h4>Gestion de categorias</h4>
                    <h1><span>@Html.ActionLink("CATEGORIAS", "Index", "CAT_PRODUCTOS", new { area = "" }, new { @class = "btn btn-danger btn-block panel-body" })</span></h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="thumbnail">
                <div class="caption">
                    <h4>Panel Header</h4>
                    <h1><span>@Html.ActionLink("Tipos de empleado", "Index", "TIPO_EMPLEADOS", new { area = "" }, new { @class = "btn btn-danger btn-block panel-body" })</span></h1>
                </div>
            </div>
        </div>
    </div>
</idv>
