
@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">
    <button>@Html.ActionLink("Almacen", "SelectAlmacen", "ALMACENs")</button>
    <button>@Html.ActionLink("Entrada de productos", "CheckOut", "CarritoEntrada")</button>
    <button>@Html.ActionLink("Salida de productos", "CheckOut", "CarritoSalida")</button>
    <button>@Html.ActionLink("Asignacion de productos", "CheckOut", "CarritoAsignacion")</button>
    <button>@Html.ActionLink("Productos", "Index", "PRODUCTOS")</button>
    <button>@Html.ActionLink("Proveedores", "Index", "PROVEEDORES")</button>
    <button>@Html.ActionLink("Empleados", "Index", "EMPLEADOS")</button>
    <button>@Html.ActionLink("Departamentos", "Index", "DEPARTAMENTOS")</button>
    <button>@Html.ActionLink("Categorias de productos", "Index", "CAT_PRODUCTOS")</button>
    <button>@Html.ActionLink("Tipos de empleado", "Index", "TIPO_EMPLEADOS")</button>
</div>