@using InventarioUX.Models
@{
    ViewBag.Title = "Index";
}

<h2>Almacen</h2>

<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Serie</th>
        <th>Cantidad</th>
        <th>Ubicacion</th>
    </tr>

    @foreach (PRODUCTOS p in ViewBag.ListaProductos)
        {
            <tr>
                <th>@p.NOMBRE</th>
                <th>@p.DESCRIPCION</th>
                <th>@p.PRECIO</th>
                <th>@p.MARCA</th>
                <th>@p.MODELO</th>
                <th>@p.SERIE</th>
                <th>@p.CANTIDAD</th>
                <th>@p.UBICACION</th>
            </tr>
        }



</table>