@using InventarioUX.Models
@model InventarioUX.Models.PRODUCTOS
@{
    ViewBag.Title = "Almacen";
}

<h2>Almacen</h2>


    
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <nav class="navbar navbar-default">
                <div class="navbar-brand">Seleccione un almacen: </div>
                    <ul class="nav navbar-var navbar-form">
                        <li>@Html.DropDownList("CATEGORIASID", null, htmlAttributes: new { @class = "form-control" })</li>
                        @Html.ValidationMessageFor(model => model.CATEGORIASID, "", new { @class = "text-danger" })
                        <li><input class="btn btn-danger" type="submit" value="Mostrar" /></li>
                    </ul>
                
            </nav>
            
        }
    


<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Serie</th>
        <th>Cantidad</th>
        <th>Ubicacion</th>
    </tr>
    @if (ViewBag.ListaProductos == null)
    {
        <tr>
            <th>   </th>
            <th>   </th>
            <th>   </th>
            <th>   </th>
        </tr>
    }
    else
    {
        foreach (PRODUCTOS p in ViewBag.ListaProductos)
        {
            <tr>
                <th>@p.NOMBRE</th>
                <th>@p.DESCRIPCION</th>
                <th>@p.PRECIO</th>
                <th>@p.MARCA</th>
                <th>@p.MODELO</th>
                <th>@p.SERIE</th>
                <th>@p.CANTIDAD</th>
                <th>@p.UBICACION</th>
            </tr>
        }
    }




</table>